In [2]:
import pandas as pd
import numpy as np
import re

# ECB green bonds that are listed on Euronext stock exchange

In [3]:
# reading data of which bonds are held by ECB at 2nd of april 2021
holdings20210402 = pd.read_csv("data/CSPP_PEPP_corporate_bond_holdings_20210402.csv", header=0, encoding='latin-1')
holdings20210402

     NCB          ISIN                        ISSUER MATURITY DATE COUPON RATE
0     BE  BE0002239086     Elia Transmission Belgium    27/05/2024       1.375
1     BE  BE0002256254                   Enodia SCRL    22/07/2026           1
2     BE  BE0002276450     Elia Transmission Belgium    07/04/2027       1.375
3     BE  BE0002280494   Groupe Bruxelles Lambert SA    23/05/2024       1.375
4     BE  BE0002285543  Fluvius System Operator CVBA    23/06/2025           2
...   ..           ...                           ...           ...         ...
1637  IT  XS2292487076                   ACEA S.p.A.    28/07/2030        0.25
1638  IT  XS2292547317            2i Rete Gas S.p.A.    29/01/2031       0.579
1639  IT  XS2299001888                Italgas S.P.A.    16/02/2028           0
1640  IT  XS2299002423                Italgas S.P.A.    16/02/2033         0.5
1641  IT  XS2300208928                   Snam S.p.A.    15/08/2025           0

[1642 rows x 5 columns]

In [4]:
#reading data of green bonds listed on Euronext 
euronext_greenbonds = pd.read_excel("data/Euronext-Green-Bond-List.xlsx", header=0)
euronext_greenbonds

,Issuer,ISIN,Listing Date,Amount (million),Currency,Bond Type,Listing Venue
0,AB STENA METALL FINANS,NO0010823362,2018-09-03 00:00:00,800.0,SEK,Green Bond,Oslo
1,ABN AMRO BANK N.V.,XS1982037696,2019-04-15 00:00:00,750.0,EUR,Green Bond,Amsterdam
2,ABN AMRO BANK N.V.,XS1808739459,2018-04-18 00:00:00,750.0,EUR,Green Bond,Amsterdam
3,ABN AMRO BANK N.V.,XS1422841202,2016-05-31 00:00:00,500.0,EUR,Green Bond,Amsterdam
4,"ACCIONA FINANCIACIÓN FILIALES, S.A. UNIPERSONAL",XS2327979675,2021-04-07 00:00:00,62.0,RON,Green Bond,Dublin
...,...,...,...,...,...,...,...
432,VESTEDA FINANCE BV,XS2001183164,2019-05-24 00:00:00,500.0,EUR,Green Bond,Amsterdam
433,VILLE DE PARIS,FR00140007D0,2020-10-20 00:00:00,300.0,EUR,Green Bond,Paris
434,VILLE DE PARIS,FR0013054897,2015-11-18 00:00:00,300.0,EUR,Green Bond,Paris
435,VZ VENDOR FINANCING II B.V.,XS2272845798,2021-01-15 00:00:00,700.0,EUR,Green Bond,Dublin
436,WERELDHAVE BELGIUM,BE0002777580,2021-03-31 00:00:00,32.0,EUR,Green Bond,Brussels

In [5]:
#Getting the ISIN of the Euronext green bonds 
euronext_greenbond_isin = euronext_greenbonds["ISIN"]
euronext_greenbond_isin

0      NO0010823362
1      XS1982037696
2      XS1808739459
3      XS1422841202
4      XS2327979675
           ...
432    XS2001183164
433    FR00140007D0
434    FR0013054897
435    XS2272845798
436    BE0002777580
Name: ISIN, Length: 437, dtype: object

In [6]:
#Comparing the ISINs of the ECB and Euronext green bonds and returning matches 
ecbgreenbonds = holdings20210402[(holdings20210402["ISIN"].isin(euronext_greenbond_isin))]
ecbgreenbonds

,NCB,ISIN,ISSUER,MATURITY DATE,COUPON RATE
18,BE,BE0002755362,Fluvius System Operator CVBA,02/12/2030,0.25
63,BE,PTEDPNOM0015,EDP - Energias de Portugal SA,15/04/2027,1.625
117,BE,XS1241581096,TenneT Holding BV,04/06/2027,1.75
138,BE,XS1400167133,Alliander N.V.,22/04/2026,0.875
155,BE,XS1432384409,TenneT Holding BV,13/06/2036,1.875
156,BE,XS1432384664,TenneT Holding BV,13/06/2026,1
167,BE,XS1505568136,TenneT Holding BV,24/10/2033,1.25
186,BE,XS1632897762,TenneT Holding BV,26/06/2025,0.75
187,BE,XS1632897929,TenneT Holding BV,26/06/2029,1.375
237,BE,XS1828037587,TenneT Holding BV,05/06/2028,1.375
238,BE,XS1828037827,TenneT Holding BV,05/06/2034,2
249,BE,XS1893621026,EDP Finance B.V.,13/10/2025,1.875
250,BE,XS1900101046,Royal Schiphol Group N.V.,05/11/2030,1.5
258,BE,XS2002491780,TenneT Holding BV,03/06/2030,0.875
259,BE,XS2002491863,TenneT Holding BV,03/06/2039,1.5
266,BE,XS2014382845,Alliander N.V.,24/06/2032,0.875
276,BE,XS2053052895,EDP Finance B.V.,16/09/2026,0.375
293,BE,XS2100663579,Digital Dutch Finco BV,15/07/2025,0.625
294,BE,XS2100664114,Digital Dutch Finco BV,15/03/2030,1.5
320,BE,XS2153459123,Royal Schiphol Group N.V.,06/04/2029,2
337,BE,XS2169243479,Swisscom Finance BV,14/11/2028,0.375
346,BE,XS2171875839,CPI Property Group SA,12/05/2026,2.75
357,BE,XS2187525949,Alliander N.V.,10/06/2030,0.375
360,BE,XS2190255211,ENEXIS Holding NV,17/06/2032,0.625
379,BE,XS2227050379,Royal Schiphol Group N.V.,08/09/2032,0.875
384,BE,XS2232115423,Digital Dutch Finco BV,15/01/2032,1
392,BE,XS2262065159,TenneT Holding BV,30/11/2032,0.125
393,BE,XS2262065233,TenneT Holding BV,30/11/2040,0.5
419,BE,XS2310411090,Citycon Treasury B.V.,12/03/2028,1.625
892,ES,XS1946004451,Telefonica Emisiones S.A.U.,05/02/2024,1.069
1007,FI,XS2009861480,ESB Finance DAC,11/06/2030,1.125
1033,FI,XS2233121792,SATO Oyj,24/02/2028,1.375
1037,FI,XS2257961818,UPM-Kymmene OYJ,19/11/2028,0.125
1047,FI,XS2320453884,UPM-Kymmene OYJ,22/03/2031,0.5
1092,FR,FR0011637586,Electricité de France (E.D.F.),27/04/2021,2.25
1097,FR,FR0011911247,Engie S.A.,19/05/2026,2.375
1157,FR,FR0013170834,Covivio S.A.,20/05/2026,1.875
1177,FR,FR0013213295,Electricité de France (E.D.F.),13/10/2026,1
1199,FR,FR0013245859,Engie S.A.,27/03/2024,0.875
1200,FR,FR0013245867,Engie S.A.,27/03/2028,1.5
1217,FR,FR0013264488,Regie Autonome des Transports Parisiens (RATP),25/05/2027,0.875
1227,FR,FR0013284247,Engie S.A.,28/02/2023,0.375
1228,FR,FR0013284254,Engie S.A.,28/02/2029,1.375
1316,FR,FR0013428489,Engie S.A.,21/06/2027,0.375
1317,FR,FR0013428513,Engie S.A.,21/06/2039,1.375
1335,FR,FR0013455813,Engie S.A.,24/10/2030,0.5
1358,FR,FR0013504677,Engie S.A.,27/03/2028,1.75
1359,FR,FR0013504693,Engie S.A.,30/03/2032,2.125
1377,FR,FR0013507647,Société Nationale SNCF SA,17/04/2030,0.625
1563,IT,XS1550149204,ENEL Finance Intl N.V.,16/09/2024,1
1585,IT,XS1704789590,Iren S.p.A.,24/10/2027,1.5
1589,IT,XS1732400319,Ferrovie dello Stato Ital.SpA,07/12/2023,0.875
1590,IT,XS1750986744,ENEL Finance Intl N.V.,16/09/2026,1.125
1597,IT,XS1881533563,Iren S.p.A.,19/09/2025,1.95
1598,IT,XS1937665955,ENEL Finance Intl N.V.,21/07/2025,1.5
1603,IT,XS2020608548,Hera S.p.A.,05/07/2027,0.875
1605,IT,XS2026171079,Ferrovie dello Stato Ital.SpA,09/07/2026,1.125
1610,IT,XS2065601937,Iren S.p.A.,14/10/2029,0.875
1635,IT,XS2275029085,Iren S.p.A.,17/01/2031,0.25

# Which bonds are green?

In [7]:
# reading data of which bonds are held by ECB at 2nd of april 2021
holdings20210402 = pd.read_csv("data/CSPP_PEPP_corporate_bond_holdings_20210402.csv", header=0, encoding='latin-1')
holdings20210402

     NCB          ISIN                        ISSUER MATURITY DATE COUPON RATE
0     BE  BE0002239086     Elia Transmission Belgium    27/05/2024       1.375
1     BE  BE0002256254                   Enodia SCRL    22/07/2026           1
2     BE  BE0002276450     Elia Transmission Belgium    07/04/2027       1.375
3     BE  BE0002280494   Groupe Bruxelles Lambert SA    23/05/2024       1.375
4     BE  BE0002285543  Fluvius System Operator CVBA    23/06/2025           2
...   ..           ...                           ...           ...         ...
1637  IT  XS2292487076                   ACEA S.p.A.    28/07/2030        0.25
1638  IT  XS2292547317            2i Rete Gas S.p.A.    29/01/2031       0.579
1639  IT  XS2299001888                Italgas S.P.A.    16/02/2028           0
1640  IT  XS2299002423                Italgas S.P.A.    16/02/2033         0.5
1641  IT  XS2300208928                   Snam S.p.A.    15/08/2025           0

[1642 rows x 5 columns]

In [8]:
# reading data of all green bonds in the world (ICMA - 06 april 2021)
greenBonds = pd.read_csv("data/ICMA-Sustainable-Bonds-Database-060421.csv", delimiter=";", encoding="latin-1")
greenBonds

,Green Bond issuer,Country,Market Information Template,External Review Form,External Review Report,External links (NB: Please use the links for most up to date information),Unnamed: 6,Unnamed: 7
0,ABN AMRO (2015),Netherlands,NaN,NaN,oekom research,https://www.abnamro.com/en/investor-relations/...,NaN,NaN
1,ABN AMRO (2016),Netherlands,NaN,NaN,oekom research,https://www.abnamro.com/en/investor-relations/...,NaN,NaN
2,AC Energy Finance Supra-national,Philippines,NaN,Appendix to Sustainalytics report,SUSTAINALYTICS,https://www.acenergy.com.ph/sustainability/,NaN,NaN
3,Acea S.p.A,Italy,NaN,NaN,ISS ESG,https://www.gruppo.acea.it/investitori,NaN,NaN
4,ACS SCE,Spain,April 2018,NaN,VIGEO EIRIS,http://acsindustria.com/,NaN,NaN
...,...,...,...,...,...,...,...,...
610,Yango Group,China,NaN,Appendix to Sustainalytics report,SUSTAINALYTICS,http://www.yango.com.cn/index.php/Ch/Cms/Inves...,NaN,NaN
611,YES BANK Ltd,India,September 2016,KPMG,KPMG,https://www.yesbank.in/annual-reports/fy-2015-...,NaN,NaN
612,Ygrene Energy Fund,US,NaN,Appendix to Sustainalytics report,SUSTAINALYTICS,http://www.sustainalytics.com/sustainability-b...,NaN,NaN
613,Zürcher Kantonalbank (2018),Switzerland,April 2018,oekom research,oekom research,https://www.zkb.ch/de/uu/nb/investor-relations...,NaN,NaN
614,Zürcher Kantonalbank (2019),Switzerland,NaN,NaN,ISS-oekom,https://www.zkb.ch/de/uu/nb/investor-relations...,NaN,NaN

In [9]:
# generate lists of all companies that have green bonds owned by ECB and all companies that have non-green bonds owned by ECB
companiesECBSet = set(holdings20210402["ISSUER"].tolist()) # set of companies with bonds owned by ECB
greenBondsCompaniesSet = set(greenBonds["Green Bond issuer"].tolist()) # set of companies with green bonds
greenCompanies = [] # this list will hold all companies with green bonds owned by ECB
for company in companiesECBSet:
    for greenBondCompany in greenBondsCompaniesSet:
        # Here, regex are used because names don't exactly match
        if (re.search(".*"+greenBondCompany+".*", company) or re.search(".*"+company+".*",greenBondCompany)):
            greenCompanies.append(company)

# Using OpenFIGI to convert bond ISIN to ticker
FIGIs are unique identifiers of financial instruments issued by Bloomberg. OpenFIGI is an API that maps third-party identifiers to FIGI, but it also returns other information such as company name and ticker.

In [13]:
# Import Packages
import json
import urllib.request
import urllib.parse

In [15]:
# Load Functions
def map_jobs(jobs):
    handler = urllib.request.HTTPHandler()
    opener = urllib.request.build_opener(handler)
    openfigi_url = 'https://api.openfigi.com/v3/mapping'
    request = urllib.request.Request(openfigi_url, data=bytes(json.dumps(jobs), encoding='utf-8'))
    request.add_header('Content-Type','application/json')
    if openfigi_apikey:
        request.add_header('X-OPENFIGI-APIKEY', openfigi_apikey)
    request.get_method = lambda: 'POST'
    connection = opener.open(request)
    if connection.code != 200:
        raise Exception('Bad response code {}'.format(str(response.status_code)))
    return json.loads(connection.read().decode('utf-8'))

def job_results_handler(jobs, job_results):
    df = pd.DataFrame({})
    for job, result in zip(jobs, job_results):
        job_df = pd.DataFrame({'ISIN': [job['idValue']]})
        results_df = pd.read_json(json.dumps(result.get('data', [])))
        df = pd.concat([df, pd.concat([job_df, results_df], axis = 1)])
    return df

In [19]:
# Convert raw data to appropriate input format
ISIN_FIGI = pd.concat([pd.Series(np.tile('ID_ISIN', 1642)), holdings20210402.ISIN], axis = 1)
ISIN_FIGI = ISIN_FIGI.rename(columns = {0: 'idType', 'ISIN': 'idValue'})

# Map to FIGI
openfigi_apikey = 'c89ac66d-e0d2-416f-9c5e-0ed7ec59c770' # This is my personal key (Fred)
jobs_per_access = 100
no_of_access = len(ISIN_FIGI)//jobs_per_access + 1

figi = pd.DataFrame({})
for i in range(no_of_access):
    lower_bound = jobs_per_access * i
    upper_bound = jobs_per_access * (i + 1) if i < no_of_access - 1 else max(ISIN_FIGI.index) + 1
    job = ISIN_FIGI.iloc[lower_bound:upper_bound].to_dict(orient = 'records')
    job_results = map_jobs(job)
    figi = figi.append(job_results_handler(job, job_results))
    
# Extracting the pure ticker
figi.ticker = figi.ticker.apply(lambda x: x.split()[0])
figi.head()

,ISIN,figi,name,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription
0,BE0002239086,BBG00BH3RNB8,ELIA TRANSMISSION BE,ELIATB,EURONEXT-BRUSS,NaN,EURO MTN,Corp,NaN,Corp,ELIATB 1 3/8 05/27/24
0,BE0002256254,BBG00D8J7316,RESA SA BELGIUM,RESABE,EURONEXT-BRUSS,NaN,EURO-ZONE,Corp,NaN,Corp,RESABE 1 07/22/26
0,BE0002276450,BBG00GCR0947,ELIA TRANSMISSION BE,ELIATB,EURONEXT-BRUSS,NaN,EURO MTN,Corp,NaN,Corp,ELIATB 1 3/8 04/07/27
0,BE0002280494,BBG00GNFY8B8,GRP BRUXELLES LAMBERT SA,GBLBBB,EURONEXT-BRUSS,NaN,EURO-ZONE,Corp,NaN,Corp,GBLBBB 1 3/8 05/23/24
0,BE0002285543,BBG00GW3JTY1,FLUVIUS SYSTEM OP,FLUVIU,EURONEXT-BRUSS,NaN,EURO-ZONE,Corp,NaN,Corp,FLUVIU 2 06/23/25

# Percentage of companies supported by ECB with green ESG scores

Next 4 blocks calculate the score of a given ticker with the function 'web_scraper(ticker)' as shown by the example for Microsoft Corporation (MSFT).
TODO: Find the ticker belonging to each company and iterate over them to see if the ESG score or the Environment Score indicate that the given company is green.

In [14]:
# Source used: https://curt-beck1254.medium.com/scrapping-financial-esg-data-with-python-99d171a12c51
from bs4 import BeautifulSoup
# import pandas as pd
import requests

In [33]:
def web_scraper(ticker):
    elements = []
    web_data = requests.get('https://finance.yahoo.com/quote/'+ticker+'/sustainability?p='+ticker).text
    soup = BeautifulSoup(web_data, 'html.parser')
    esg_score = soup.find('div', {'class':'Fz(36px) Fw(600) D(ib) Mend(5px)'})
    datapoint = esg_score.text if esg_score != None else np.NaN
    controversy_score = soup.find('div', {'class': 'D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)'})
    controversy_datapoint = controversy_score.text if controversy_score != None else np.NaN
    scores = soup.find_all('div', {'class': 'D(ib) Fz(23px) smartphone_Fz(22px) Fw(600)'})
    if len(scores) == 0:
        elements = [np.NaN, np.NaN, np.NaN]
    else:
        for score in scores:
            elements.append(score.text)
        
    df = pd.DataFrame({'Total ESG Score': datapoint,
                      'Environment Score': elements[0],
                       'Social Score': elements[1],
                      'Governance Score': elements[2],
                      'Controversy Score': controversy_datapoint},
                     index=[ticker])
    df = df.astype('float')
    df['Controversy Assessment'] = df.apply(lambda x: level(x['Controversy Score']), axis=1)
    return df

In [16]:
def level(x):
    if x == 0.0:
        return 'No Controversy'
    if x == 1.0:
        return 'Little Controverssy'
    if x == 2.0:
        return 'Moderate Controversy'
    if x == 3.0:
        return 'Relatively High Controversy'
    else:
        return 'Severe Controversy'

In [31]:
web_scraper('MSFT')

ESG score: 15

,Total ESG Score,Environment Score,Social Score,Governance Score,Controversy Score,Controversy Assessment
MSFT,15.0,0.5,9.4,4.9,0.5,Severe Controversy

In [39]:
ESG_Summary = pd.DataFrame({})
for i in set(figi.ticker.iloc[0:50].tolist()):
    ESG_Summary.append(web_scraper(i))
ESG_Summary

Empty DataFrame
Columns: []
Index: []